{% extends "MushkinVitformsBundle:Default:index.html.twig" %}

{% block forms %}
    <p>Добавление нового умения:</p>
    <div class="col-md-12">

    {{ form_row(form.number) }}
    {{ form_row(form.description) }}
        <h3>Работники:</h3>
        <ul class="skillUsers">
            {% for userfield in form.skillUsers %}
                <li>{{ form_row(userfield.name) }}</li>
            {% endfor %}
        </ul>

        <br>
         <a href="{{ path('mushkin_vitforms_homepage') }}">скрыть</a>
    </div>
{% endblock %}